.footer-container {
  height: 100px;
  background-color: #000000;
  color: #ffffff;
}
.left {
  text-align: left;
  display: inline-block;
  padding: 40px 0;
}
.right {
  display: inline;
  text-align: right;
  float: right;
  padding: 40px 0;
}