.price {
  text-align: center;
}
.head-content {
  text-align: center;
  font-family: Lato;
  margin-top: 70px;
  .head-h2 {
    font-size: 36px;
    font-weight: bold;
  }
  .head-p {
    font-size: 20px;
  }
}
  .price-1 {
  &:hover,
  &:active {
    color: #4bcaff;
    transform: scale(1.23, 1.1);
  }
  height: 415px;
  width: 300px;
  border: 1px solid #000000;
  float: left;
  margin-left: 60px;
  margin-top: 52px;
  border-radius: 8px;
  @include breakpoint(1199) {
    width: 28%;
    margin-left: 5%;
  }
  @include breakpoint(767) {
    width: 70%;
    margin: 0 15%;
  }
  .price1-p {
    font-size: 80px;
    background-color: #91c46b;
    color: #ffffff;
    @include breakpoint(991) {
      font-size: 4rem;
    }
  }
  .price1-h2 {
    font-size: 17px;
    font-weight: bold;
    margin: 25px 0;
  }
  .price1-a {
    font-size: 15px;
    background-color: #91c46b;
    padding: 15px 30px;
    color: #ffffff;
    margin: 10px 0;
    font-family: Lato;
  }
  .type li {
    margin: 20px 0;
    font-size: 18px;
    font-family: Lato;
  }
}
.price-2 {
  &:hover,
  &:active {
    color: #4bcaff;
    transform: scale(1.23, 1.1);
  }
  width: 300px;
  height: 415px;
  border: 1px solid #000000;
  float: left;
  margin-left: 60px;
  margin-top: 52px;
  border-radius: 8px;
  @include breakpoint(1199) {
    width: 28%;
    margin-left: 5%;
  }
  @include breakpoint(767) {
    width: 70%;
    margin: 10% 15%;
  }
  .price2-h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
    @include breakpoint(1199) {
      font-size: 1rem;
    }
  }
  .price2-p {
    font-size: 80px;
    background-color: #4bcaff;
    color: #ffffff;
    @include breakpoint(991) {
      font-size: 4rem;
    }
  }
  .price2-a {
    font-size: 20px;
    background-color: #4bcaff;
    padding: 15px 30px;
    color: #ffffff;
  }
  .type li {
    margin: 15px 0;
  }
}
.price-3 {
  &:hover,
  &:active {
    color: #4bcaff;
    transform: scale(1.23, 1.1);
  }
  height: 415px;
  width: 300px;
  border: 1px solid #000000;
  float: left;
  margin: 52px 0 100px 60px;
  border-radius: 8px;
  @include breakpoint(1199) {
    width: 28%;
    margin-left: 5%;
  }
  @include breakpoint(767) {
    width: 70%;
    margin: 0 15%;
  }
  .price3-h2 {
    font-size: 17px;
    font-weight: bold;
    margin: 25px 0;
  }
  .price3-p {
    font-size: 80px;
    background-color: #fd7c00;
    color: #ffffff;
    @include breakpoint(991) {
      font-size: 4rem;
    }
  }
  .price3-a {
    font-size: 20px;
    background-color: #fd7c00;
    padding: 15px 30px;
    color: #ffffff;
  }
  .type li {
    margin: 20px 0;
  }
}
.type {
  list-style-type: none;
}
.testimo {
  width: 48%;
  margin: 0 280px;
  overflow: auto;
  @include breakpoint(1199) {
    width: 70%;
    margin: 0 auto;
  }
  @include breakpoint(767) {
    width: 100%;
  }
  .addr {
    text-align: right;
    margin-bottom: 20px;
  }
  .test-h2 {
    font-size: 36px;
    margin-bottom: 35px;
    font-weight: bold;
  }
  .con-test {
    margin-bottom: 30px;
    .slick-list {
      height: 300px;
    }
    .slick-dots {
      bottom: 0;
      li {
        width: 60px;
      }
      li button:before {
        content: '';
        background: #4bcaff;
        width: 50px;
        height: 6px;
      }
    }
  }
}
.wrap-content-test {
  color: #4bcaff;
  width: 375px;
  font-size: 14px;
  font-weight: bold;
  padding-top: 40px;
  float: right;
  text-align: left;
  @include breakpoint(1199) {
    width: 65%;
    font-size: 1rem;
    padding-left: 5px;
  }
  @include breakpoint(480) {
    font-size: 0.7rem;
  }
}
.img {
    display: inline;
    width: 160px;
    height: 180px;
}
.slick-slide img {
  display: inline;
  @include breakpoint(480) {
    width: 35%;
  }
}