.single-item {
  background-image: url("../images/img-slide.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  border-bottom: 2px solid #4bcaff;
  overflow: auto;
}
.right-content {
  float: right;
  width: 55%;
}
.text-slide {
  width: 630px;
  float: right;
  color: #ffffff;
  text-align: left;
  margin: 270px 0 30px 0;
  padding-bottom: 10px;
  font-size: 18px;
  font-family: Lato;
  @include breakpoint(1199) {
    width: 60%;
    font-size: 1rem;
  }
  @include breakpoint(767) {
    margin: 40% 0 0;
  }
  @include breakpoint(480) {
    margin-top: 25%;
    font-size: 0.8rem;
  }
  .text-slide-h2 {
    font-size: 3rem;
    @include breakpoint(1199) {
      font-size: 2rem;
    }
    @include breakpoint(767) {
      font-size: 1.4rem;
    }
  }
}
.link-icon {
  overflow: auto;
  width: 630px;
  float: right;
  @include breakpoint(1199) {
    width: 60%;
  }
  @include breakpoint(767) {
    font-size: 0.5rem;
  }
  @include breakpoint(480) {
  }
  .link-icon-p {
    font-size: 18px;
    font-family: Lato;
    float: left;
    color: #4bcaff;
    line-height: 48px;
    padding-right: 20px;
    @include breakpoint(767) {
      font-size: 1rem;
      padding-right: 0.5rem;
      line-height: 3rem;
    }
    @include breakpoint(350) {
      font-size: 0.8rem;
    }
  }
  .link-icon-a {
    float: left;
    margin-left: 20px;
    padding: 15px;
    border: 1px solid #4bcaff;
    border-radius: 50%;
    margin-bottom: 115px;
    @include breakpoint(767) {
      margin-left: 0.8rem;
      margin-bottom: 2rem;
      padding: 0.5rem;
    }
    .img-icon {
      @include breakpoint(480) {
        width: 100%;
      }
    }
    &:hover,
    &:active {
      background-color: #4bcaff;
    }

  }
}
.link {
  width: 630px;
  float: right;
  overflow: auto;
  font-size: 15px;
  font-weight: bold;
  font-family: Lato;
  @include breakpoint (1199) {
    width: 60%;
  }
  @include breakpoint (480) {

  }
  .link-a {
    float: left;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 20px 40px;
    margin: 0 40px 50px 0;
    color: #ffffff;
    &:hover ,
    &:active {
      background-color: #4bcaff;
    }
    @include breakpoint(1199) {
      margin-right: 10px;
    }
    @include breakpoint(767) {
    font-size: 0.5rem;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    margin-bottom: 1.5rem;
    }
  }
}
