.bg-video {
	background-image: url("../images/ima-video.png");
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	color: #000000;
	margin: 0 auto;
	p {
	margin: 0 auto;
	}
} 
.content-video {
	width: 100%;
	border: 1px solid red;
	color: #ffffff;
	text-align: center;
	height: 550px;
	position: relative;
	span {
	font-size: 48px;
	font-family: Lato;
	}
	p {
	font-size: 18px;
	font-family: Lato;
	width: 770px;
	}
}
.center {
	width: 1170px;
	margin: 0 auto;
}
.g {
	margin-top: 250px;
}
