.bg-video {
  background-image: url("../images/ima-video.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #000000;
  margin: 0 auto;
}
.content-video {
  width: 100%;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-align: center;
  height: 550px;
  position: relative;
  @include breakpoint(991) {
    height: auto;
  }
  .text-video-h2 {
    font-size: 48px;
    font-family: Lato;
    @include breakpoint(991) {
      width: 90%;
      margin: 0 auto;
      font-size: 40px;
    }
    @include breakpoint(767) {
      font-size: 26px;
    }
    @include breakpoint(480) {
      font-size: 19px;
    }
    @include breakpoint(350) {
      font-size: 17px;
    }
  }
  .text-video-p {
    font-size: 18px;
    font-family: Lato;
    width: 700px;
    text-align: left;
    margin: 0 auto;
    @include breakpoint(991) {
      width: 60%;
      margin-bottom: 20px;
    }
    @include breakpoint(767) {
      font-size: 13px;
      width: 50%;
    }
    @include breakpoint(480) {
      font-size: 9px;
    }
  }
}
.video-start {
  margin-top: 150px;
  @include breakpoint(991) {
    margin-top: 80px;
  }
}
.video {
  margin-bottom: 15px;
  @include breakpoint(480) {
    width: 80px;
    height: 50px;
  }
}
