<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "HTML Boilerplate"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body>
    <!-- include header.html -->
@@include('../layouts/header.html')

@@include('../partials/slide.html')

@@include('../partials/content.html')

    <!-- include footer.html -->
@@include('../layouts/footer.html')


  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>