<div class="center">
	<div class="gallery">
    <div class="head-content">
      <h2 class="header-h2">show the gallery</h2>
      <p>summarise what your product is all about</p>
    </div>
    <div class="screen">
      <div class="wrap-content-gallery">
        <div class="img-gallery">
          <a href="#"><img  src="images/image-gallery.jpg" alt="gallery 1"></a>
        </div>
        <div class="pseudu">
          <a class="content-pseudu" href="#">SCRENN SHOT #1</a>
        </div>
        <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa it porta nequetiam elerisque mi id faucibus iaculis vitae pulvinar</p>
      </div>
      <div class="wrap-content-gallery">
        <div class="img-gallery">
          <a href="#"><img  src="images/image-gallery.jpg" alt="gallery 2"></a>
        </div>
        <div class="pseudu">
          <a class="content-pseudu" href="#">SCRENN SHOT #2</a>
        </div>
        <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa it porta nequetiam elerisque mi id faucibus iaculis vitae pulvinar</p>
      </div>
      <div class="wrap-content-gallery">
        <div class="img-gallery">
          <a href="#"><img  src="images/image-gallery.jpg" alt="gallery 3"></a>
        </div>
        <div class="pseudu">
          <a class="content-pseudu" href="#">SCRENN SHOT #3</a>
        </div>
        <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa it porta nequetiam elerisque mi id faucibus iaculis vitae pulvinar</p>
      </div>

      <div class="wrap-content-gallery last-content">
        <div class="img-gallery">
          <a href="#"><img  src="images/image-gallery.jpg" alt="gallery 4"></a>
        </div>
        <div class="pseudu">
          <a class="content-pseudu" href="#">SCRENN SHOT #4</a>
        </div>
        <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa it porta nequetiam elerisque mi id faucibus iaculis vitae pulvinar</p>
      </div>
    </div>
  </div>
</div>