<div class="center">
	<div class="gallery">  <!--GALLERY-->
    <div class="head-content">
      <h1>show the gallery</h1>
      <p>summarise what your product is all about</p>
    </div>

    <div class="wrap-content-gallery">
      <div class="img-gallery">
        <a href="#"><img  src="images/image-gallery.jpg" alt="icon"></a>
      </div>
      <div class="b">
        <a href="#">SCRENN SHOT #1</a>
      </div>
      <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa it porta nequetiam elerisque mi id faucibus iaculis vitae pulvinar</p>
    </div>
    <div class="wrap-content-gallery">
      <div class="img-gallery">
        <a href="#"><img  src="images/image-gallery.jpg" alt="icon"></a>
      </div>
      <div class="b">
        <a href="#">SCRENN SHOT #2</a>
      </div>
      <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa it porta nequetiam elerisque mi id faucibus iaculis vitae pulvinar</p>
    </div>
    <div class="wrap-content-gallery">
      <div class="img-gallery">
        <a href="#"><img  src="images/image-gallery.jpg" alt="icon"></a>
      </div>
      <div class="b">
        <a href="#">SCRENN SHOT #3</a>
      </div>
      <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa it porta nequetiam elerisque mi id faucibus iaculis vitae pulvinar</p>
    </div>
    <div class="wrap-content-gallery last-content">
      <div class="img-gallery">
        <a href="#"><img  src="images/image-gallery.jpg" alt="icon"></a>
      </div>
      <div class="b">
        <a href="#">SCRENN SHOT #4</a>
      </div>
    
      <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa it porta nequetiam elerisque mi id faucibus iaculis vitae pulvinar</p>
    </div>
  </div>
</div>