<div class="download">
  <p class="text">Do you Like this app?</p>
  <a class="text-down" href="#" >DOWNLOAD NOW</a>
</div>
<div class="contact">
  <img class="maps" src="images/map.jpg" alt="map">
  <div class="form">
    <form action="/action_page.php">
    <label>Contact<label>
    <input type="text" id="fname" name="yourname" placeholder="Your name">
    <input type="text" id="lname" name="email" placeholder="Your email">
    <input type="text" id="lname" name="subject" placeholder="Subject">
    <textarea type="text" name="Messager" placeholder="Messager"></textarea>
    <input type="submit" value="Send">
    </form>
  </div>
</div>
