<div class="download">
  <p>Do you Like this app?</p>
  <nav>
  	<a href="#" >DOWNLOAD NOW</a>
	</nav>
</div>
<div class="contact">
  <div class="form">
    <form action="/action_page.php">
    <label>Contact<label>
    <input type="text" id="fname" name="yourname" placeholder="Your name">
    <input type="text" id="lname" name="email" placeholder="Your email">
    <input type="text" id="lname" name="subject" placeholder="Subject">
    <textarea type="text" name="Messager" placeholder="Messager"></textarea>
    <input type="submit" value="Send">
    </form>
  </div>
</div>