<div id="feature">  <!-- FEATURES -->
  <div class="center">
  <div class="head-content">
    <h2 class="header-h2">summarise the feature</h2>
    <p class="head-p">summarise what your produce is all about</p>
  </div>
  @@loop("feature-loop.html", [{
    "src-img": "images/feat-1.png",
    "alt-img": "feat-1",
    "header": "ATTRACTIVE LAYOUT",
    "conten-p": "Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa it porta nequetiam elerisque mi id faucibus iaculis vitae pulvinar"
    },{
    "src-img": "images/feat-2.png",
    "alt-img": "feat-2",
    "header": "FRESH DESIGN",
    "conten-p": "Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa it porta nequetiam elerisque mi id faucibus iaculis vitae pulvinar"
    },{
   "src-img": "images/feat-3.png",
    "alt-img": "feat-3",
    "header": "MULTIPURPOSE",
    "conten-p": "Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa it porta nequetiam elerisque mi id faucibus iaculis vitae pulvinar"
    },{
    "src-img": "images/feat-4.png",
    "alt-img": "feat-4",
    "header": "EASY TO CUSTOMIZE",
    "conten-p": "Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa it porta nequetiam elerisque mi id faucibus iaculis vitae pulvinar"
    }
  ])
</div>
</div>