<div class="center">
  <div id="price" class="price">
    <div class="head-content">
      <h2 class="head-h2">choose your price</h2>
      <p class="head-p">summarise what your product is all about</p>
    </div>
    @@loop("price-loop.html", [{
      "class1": "price-1 wow pulse",
      "classh3": "price1-h2",
      "classp": "price1-p",
      "classa": "price1-a",
      "chose": "BASIC PACKAGE",
      "li1": "Nullam suscipit vitae",
      "li2": "Etiam fauclibus",
      "li3": "Vivarnus viverra",
      "li4": "",
      "dola": "20$",
      "pur": "PURCHASE"
      },{
      "class1": "price-2",
      "classh3": "price2-h2",
      "classp": "price2-p",
      "classa": "price2-a",
      "chose": "PROFESSIONAL PACKAGE",
      "li1": "Nullam suscipit vitae",
      "li2": "Etiam fauclibus",
      "li3": "Vivarnus viverra",
      "li4": "Praesent pharetra",
      "dola": "25$",
      "pur": "PURCHASE"
      },{
      "class1": "price-3",
      "classh3": "price3-h2",
      "classp": "price3-p",
      "classa": "price3-a",
      "chose": "ADVANCED PACKAGE",
      "li1": "Nullam suscipit vitae",
      "li2": "Etiam fauclibus",
      "li3": "Vivarnus viverra",
      "li4": "",
      "dola": "30$",
      "pur": "PURCHASE"
      }
    ])
  </div>
  <div id="testimo" class="testimo">
    <h2 class="head-content test-h2">Testimonials</h2>
    <div>
      <img src="images/icon-10.png" alt="icon">
      <div class="wrap-content-test">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunceget nunc vitae tellus luctus ullamcorper. Nam porttior ullamcorper felis at convalis. Aenean ornare vestibulum nisi fringilla lacinia. Nullampulvinar sollicutudin velit id laoreet. Quisque non rhoncussem</p>
        <address class="addr">
          <p>John Doe</p>
          <p>frome some company</p>
        </address>
      </div>
    </div>
  </div>
</div>

