<div class="center">
  <div class="price"> 
    <div class="head-content">
      <h2>choose your price</h2>
      <p>summarise what your product is all about</p>
    </div>
    <div class="price-1">
      <h2>BASIC PACKAGE</h2>
      <p>20$</p>
      <ul class="type">
        <li>Nullam suscipit vitae</li>
        <li>Etiam fauclibus</li>
        <li>Vivarnus viverra</li>
      </ul>
      <a href="#">PURCHASE</a>
    </div>
    
    <div class="price-2">
      <h2>PROFESSIONAL PACKAGE</h2>
      <p>25$</p>
      <ul class="type">
        <li>Nullam suscipit vitae</li>
        <li>Etiam fauclibus</li>
        <li>Vivarnus viverra</li>
        <li>Praesent pharetra</li>
      </ul>
      <a href="#">PURCHASE</a>
    </div>
    
    <div class="price-3">
      <h2>ADVANCED PACKAGE</h2>
      <p>30$</p>
      <ul class="type">
        <li>Nullam suscipit vitae</li>
        <li>Etiam fauclibus</li>
        <li>Vivarnus viverra</li>
      </ul>
      <a href="#">PURCHASE</a>
    </div>
  </div>
  <div class="testimo">
    <h2  class="head-content">Testimonials</h2>
    <div>
      <img src="images/icon-10.png" alt="icon">
      <div class="wrap-content-test">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunceget nunc vitae tellus luctus ullamcorper. Nam porttior ullamcorper felis at convalis. Aenean ornare vestibulum nisi fringilla lacinia. Nullampulvinar sollicutudin velit id laoreet. Quisque non rhoncussem</p>
        <address>
          <p>John Doe</p>
          <p>frome some company</p>
        </address>
      </div>
    </div>
  </div>
</div>