
<div class="single-item">
  <div class="center">
    <div class="slider-content">
      <div class="right-content">
        <div class="text-slide">
          <h2 class="text-slide-h2"><span>Simple, Beatyful <b>and Amazing</b></span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunceget nunc vitae tellus luctus ullamcorper. Nam porttior ullamcorper felis at convalis. Aenean ornare vestibulum nisi fringilla lacinia. Nullampulvinar sollicutudin velit id laoreet. Quisque non rhoncussem.</p>
        </div>
        <div class="link">
          <a class="link-a" href="#">DOWNLOAD</a>
          <a class="link-a" href="#">LEARN MORE</a>
        </div>
        <div class="link-icon">
          <p class="link-icon-p">Available on:</p>
            <a class="link-icon-a" href="#"><img src="images/icon-05.png" alt="icon-apple"></a>
            <a class="link-icon-a" href="#"><img src="images/icon-06.png" alt="icon-androi"></a>
        </div>
      </div>
      <div class="right-content">
        <div class="text-slide">
          <h2 class="text-slide-h2"><span>Simple, Beatyful <b>and Amazing</b></span></h2>
          <img src="images/ima-video.png" width="600px" height="300px">
        </div>
        <div class="link">
          <a class="link-a" href="#">DOWNLOAD</a>
          <a class="link-a" href="#">LEARN MORE</a>
        </div>
        <div class="link-icon">
          <p class="link-icon-p">Available on:</p>
            <a class="link-icon-a" href="#"><img src="images/icon-05.png" alt="icon-apple"></a>
            <a class="link-icon-a" href="#"><img src="images/icon-06.png" alt="icon-androi"></a>
        </div>
      </div>
      <div class="right-content">
        <div class="text-slide">
          <h2 class="text-slide-h2"><span>Simple, Beatyful <b>and Amazing</b></span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunceget nunc vitae tellus luctus ullamcorper. Nam porttior ullamcorper felis at convalis. Aenean ornare vestibulum nisi fringilla lacinia. Nullampulvinar sollicutudin velit id laoreet. Quisque non rhoncussem.</p>
        </div>
        <div class="link">
          <a class="link-a" href="#">DOWNLOAD</a>
          <a class="link-a" href="#">LEARN MORE</a>
        </div>
        <div class="link-icon">
          <p class="link-icon-p">Available on:</p>
            <a class="link-icon-a" href="#"><img src="images/icon-05.png" alt="icon-apple"></a>
            <a class="link-icon-a" href="#"><img src="images/icon-06.png" alt="icon-androi"></a>
        </div>
      </div>
    </div>
  </div>
</div>
