<div class="single-item">
  <div class="center">
    <div class="slider-content">
      @@loop("slide-loop.html", [{
        "text-slide": "Simple,Beatyful <b>and Amazing</b>",
        "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunceget nunc vitae tellus luctus ullamcorper. Nam porttior ullamcorper felis at convalis. Aenean ornare vestibulum nisi fringilla lacinia. Nullampulvinar sollicutudin velit id laoreet. Quisque non rhoncussem.",
        "link-d": "DOWNLOAD",
        "link-l": "LEARN MORE",
        "page": "Available on:",
        "imga": "images/apple.svg",
        "imgb": "images/android.svg",
        "icon-a": "icon-apple",
        "icon-b": "icon-androi"
        },{
        "text-slide": "Simple,Beatyful <b>and Amazing</b>",
        "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunceget nunc vitae tellus luctus ullamcorper. Nam porttior ullamcorper felis at convalis. Aenean ornare vestibulum nisi fringilla lacinia. Nullampulvinar sollicutudin velit id laoreet. Quisque non rhoncussem.",
        "link-d": "DOWNLOAD",
        "link-l": "LEARN MORE",
        "page": "Available on:",
        "imga": "images/apple.svg",
        "imgb": "images/android.svg",
        "icon-a": "icon-apple",
        "icon-b": "icon-androi"
        },{
        "text-slide": "Simple,Beatyful <b>and Amazing</b>",
        "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunceget nunc vitae tellus luctus ullamcorper. Nam porttior ullamcorper felis at convalis. Aenean ornare vestibulum nisi fringilla lacinia. Nullampulvinar sollicutudin velit id laoreet. Quisque non rhoncussem.",
        "link-d": "DOWNLOAD",
        "link-l": "LEARN MORE",
        "page": "Available on:",
        "imga": "images/apple.svg",
        "imgb": "images/android.svg",
        "icon-a": "icon-apple",
        "icon-b": "icon-androi"
        }
      ])
    </div>
  </div>
</div>