<div class="right-content">
  <div class="text-slide">
    <h2 class="text-slide-h2">@@text-slide</h2>
    <p>@@description</p>
  </div>
  <div class="link">
    <a class="link-a" href="#">@@link-d</a>
    <a class="link-a" href="#">@@link-l</a>
  </div>
  <div class="link-icon">
    <p class="link-icon-p">@@page</p>
      <a class="link-icon-a" href="#"><img src="@@imga" alt="@@icon-a" class="img-icon"></a>
      <a class="link-icon-a" href="#"><img src="@@imgb" alt="@@icon-b" class="img-icon"></a>
  </div>
</div>