<header id="header-container" class="header-container">
  <div class="center">
    <div>
      <a class="logo-a" href="#"><img src="images/logo.png" alt="logo" ></a>
    </div>
    <nav class="menu">
      <ul class="ulmenu">
        <li><a class="menu-a" href="#single-item">home</a></li>
        <li><a class="menu-a" href="#feature">feature</a></li>
        <li><a class="menu-a" href="#gallery">gallery</a></li>
        <li><a class="menu-a" href="#bg-video">video</a></li>
        <li><a class="menu-a" href="#price">prices</a></li>
        <li><a class="menu-a" href="#testimo">testimonials<a></li>
        <li><a class="menu-a" href="#download">download</a></li>
        <li><a class="menu-a" href="#contact">contact</a></li>
      </ul>
    </nav>
  </div>
</header>