<header class="header-container">
  <div class="center">
    <div>
      <a class="logo-a" href="#"><img src="images/logo.png" alt="logo" ></a>
    </div>
    <nav class="menu">
      <ul class="ulmenu">
        <li><a class="menu-a" href="#">home</a></li>
        <li><a class="menu-a" href="#">feature</a></li>
        <li><a class="menu-a" href="#">gallery</a></li>
        <li><a class="menu-a" href="#">video</a></li>
        <li><a class="menu-a" href="#">prices</a></li>
        <li><a class="menu-a" href="#">testimonials<a></li>
        <li><a class="menu-a" href="#">download</a></li>
        <li><a class="menu-a" href="#">contact</a></li>
      </ul>
      <a class="home">Home</a>
      <a class="feature">Feature</a>
      <a class="gallery">Galleyry</a>
      <a class="video">Video</a>
      <a class="prices">Prices</a>
      <a class="testimonials">Testimonials</a>
      <a class="download">Download</a>
      <a class="contact">Contact</a>
    </nav>
  </div>
</header>