<!-- build:css(.) style/vendor.min.css -->
<link rel="stylesheet" type="text/css" media="screen" href="node_modules/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="screen" href="node_modules/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="screen" href="node_modules/magnific-popup/dist/magnific-popup.css" />
<!-- endbuild -->
<!-- build:css(.tmp) style/style.min.css -->
<link rel="stylesheet" type="text/css" media="screen" href="styles/main.css" />
<!-- endbuild -->
