<div class="bg-video">
  <div class="content-video">
    <div class="video-start">
      <div>
        <a class="video" title="Test title" href="https://www.youtube.com/watch?v=9VNf7_FvXQI"><img src="images/video-button.png" alt="play video" ></a>
      </div>
      <h2 class="text-video-h2">Watch the best Technology in <b>Action</b></h2>
      <p class="text-video-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget nunc vitar tellus luctus ullamcorper. Nam porttitor ullamcorper felis at convallis. Aenean ornare vestibulum nisi fringilla lacinia. Nullam pulvinar sollicitudin velit id laoreet. Quisque non rhoncus sem.</p>
    </div>
  </div>
</div>
